* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    font-size: 16px;
    line-height: 1.5;
  }
  
  header {
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    padding: 16px 120px;
  }
  
  header input {
    width: 100%;
    height: 60px;
    padding: 0px 10px;
    border-radius: 8px;
    font-size: 18px;
  }
  
  #tarefas {
    padding: 60px 120px;
  }
  
  #tarefas h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 48px;
    flex-wrap: wrap;
  }
  
  #tarefas h2 button {
    height: 46px;
    background-image: linear-gradient(to right, #a18cd1 0%, #fbc2eb 100%);
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    padding: 0 26px;
    border-radius: 8px;
    cursor: pointer;
    transition-duration: 200ms;
  }
  
  #tarefas h2 button:hover {
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  }
  
  #tarefas h6 {
    text-align: center;
    font-size: 24px;
    color: #999;
  }
  
  #tarefas ul {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 36px;
  }
  
  #tarefas ul li {
    flex: 1 1 calc(25% - 12px);
    min-width: 250px;
    background-color: white;
    border-radius: 10px;
    padding: 16px;
    box-shadow: 0 5px 10px #00000015;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  #tarefas ul li h5 {
    font-size: 16px;
    margin-bottom: 16px;
    color: #999;
  }
  
  #tarefas ul li .actions {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
    cursor: pointer;
    fill: #999;
  }
  
  #tarefas ul li .actions box-icon:hover {
    fill: #a18cd1;
  }
  
  #overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition-duration: 200ms;
  }
  
  #overlay.active {
    visibility: visible;
    opacity: 1;
  }
  
  .modal {
    width: 90%;
    max-width: 400px;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 16px;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    transition-duration: 200ms;
  }
  
  .modal.active {
    visibility: visible;
    opacity: 1;
  }
  
  .modal form h3 {
    font-size: 24px;
    margin-bottom: 26px;
    color: #999;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .modal form h3 box-icon {
    font-size: 24px;
    fill: #a18cd1;
    cursor: pointer;
  }
  
  .modal form h3 box-icon:hover {
    fill: #fbc2eb;
  }
  
  .modal form label {
    display: block;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    margin-bottom: 6px;
  }
  
  .modal form input,
  .modal form textarea {
    width: 100%;
    height: 46px;
    border: 2px solid #dedede;
    border-radius: 8px;
    margin-bottom: 16px;
    transition-duration: 200ms;
    padding-left: 10px;
  }
  
  .modal form textarea {
    height: 120px;
    padding-top: 10px;
  }
  
  .modal form input:focus,
  .modal form textarea:focus,
  button:focus {
    border-color: #a18cd1;
    box-shadow: 0 0 5px #a18cd1;
    outline: 2px solid #a18cd1;
    outline-offset: 2px;
  }
  
  .modal form button {
    width: 100%;
    height: 46px;
    background-image: linear-gradient(to right, #a18cd1 0%, #fbc2eb 100%);
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    padding: 0 26px;
    border-radius: 8px;
    cursor: pointer;
    transition-duration: 200ms;
  }
  
  .modal form button:hover {
    background-image: linear-gradient(to top, #a18cd1 20%, #fbc2eb 100%);
    color: #8b66e1;
  }
  
  /* Responsividade */
  @media (max-width: 768px) {
    header,
    #tarefas {
      padding: 16px;
    }
  
    #tarefas h2 {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }
  
    #tarefas ul {
      flex-direction: column;
    }
  
    #tarefas ul li {
      width: 100%;
    }
  }
  